p, h1, h2, h3 {
    font-family: 'Open Sans', Arial, sans-serif;
}

h2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-weight: 300;
    font-size: 16px;
}