svg {
    width: 10%;
    align-items: center;
}
.spinner {
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    background-color: rgb(251, 198, 155);
    list-style-type: none;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.4s ease;

}

li:hover {
    background-color: rgb(225, 225, 225);
}
.material {
    text-align: center;
}
.error-msg {
    text-align: center;
    margin: 20px 0;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

